@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --background-first: #b1cbda;
  --background-second: #6db5f0;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #e0f4ff;
  background: linear-gradient(
    315deg,
    var(--background-first) 0%,
    var(--background-second) 100%
  );
  font-family: "Ubuntu", sans-serif;
}

#content {
  width: 100vw;
  height: 100vh;
  min-width: 410px;
  min-height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#weather {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 380px;
  height: 400px;
  background: #4ee1ff;
  background: linear-gradient(
    315deg,
    var(--background-second) 0%,
    var(--background-first) 100%
  );
  border-radius: 15px;
  box-shadow: 2px 2px 4px 0 black;
  padding: 10px;
  margin: 10px;
  user-select: none;
}

#temperature {
  width: 170px;
}

#clouds {
  width: 140px;
}

#clouds img {
  width: 100px;
  height: auto;
  margin: -15px;
}

#location {
  width: 340px;
  height: 60px;
}

#search-input {
  width: 340px;
  height: 40px;
  background: transparent;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
}

#search-input:focus {
  outline: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1e83c7;
  height: 100px;
  border-radius: 10px;
  box-shadow: inset 2px 2px 4px 0 black;
  padding: 5px;
  margin: 10px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1e83c7;
  height: 70px;
  width: 340px;
  border-radius: 10px;
  box-shadow: inset 2px 2px 4px 0 black;
  padding: 5px;
  margin: 10px;
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.text-temp {
  font-size: 35px;
  font-weight: bold;
  margin: 5px 3px 5px 3px;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.text-sup {
  font-size: 14px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.text-sub {
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 3px black;
}

.text-location {
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.text-location-small {
  font-size: 22px;
}

.text-info {
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 4px black;
  margin: 5px;
  font-weight: bold;
}

.text-info-sup {
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 4px black;
  margin: 5px;
}
